/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0; /*self-added*/
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


:root {
  --color-blue: #1992d4;
  --color-grey-background: #e2e8f0;
  --color-grey-text: #636363;
  --color-grey-buttons: #333333;
  --color-grey-announcements: #d2d2d2;
  --color-yellow: #f0b429;
}

body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-grey-background);
}

body ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid: 100px 1fr 1fr / 1fr 3fr 1fr;
  gap: 15px;
}

.header {
  margin-left: -15px; /*CUIDADO*/
  grid-column: 2 / -1;
  background-color: white;

  display: grid;
  grid: 1fr 2fr / 2fr 1fr;

  > div {
    align-self: center;
  }
}

.header .search input {
  background-color: var(--color-grey-background);
  border-radius: 10% / 50%;
}

.header .user-options {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}

.header .user-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 2fr;
}

.header .user-info img {
  grid-row: 1 / -1;
  gap: 15px;
}

.header .user-info span:first-of-type {
  font-size: 0.8rem;
}

.header .user-info span:last-of-type {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .projects-control ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.header .projects-control button {
  width: 8rem;
  background-color: var(--color-blue);
  color: white;
  border-radius: 10% / 50%;
  border: none;
}

/* maybe replaceable R1*/
.search,
.user-info {
  justify-self: start;
}
.user-options,
.projects-control {
  justify-self: end;
}
/* end R1 */

.sidebar {
  background-color: var(--color-blue);
  color: white;

  padding: 15px;
  grid-row: 1 / -1;

  display: grid;
  gap: 20px;
  justify-items: start;
  align-items: start;
}

.sidebar ul {
  display: grid;
  gap: 15px;
  justify-items: start;
}

.article {
  padding: 15px;
  grid-row: 2 / -1;
}

.article .projects {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}

.projects .card {
  height: 300px;
  padding: 15px;
  background-color: white;
  border-left: 10px solid var(--color-yellow);
  border-radius: 5px;

  display: grid;
  grid-template-rows: 1fr 50px;
}

.projects .card .description {
  overflow: hidden;
  place-self: start;
  .p {
    color: var(--color-grey-text);
  }
}

.projects .card .card-controls {
  place-self: end;

  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 50px);
}

.notification ul{
  padding: 15px;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
}

.notification li {
  height: 150px;
  padding: 15px 0;
  border-top: 1px solid var(--color-grey-announcements);

  font-size: 0.5rem;
}

.notification li p {
  color: var(--color-grey-text);
}

.notification li:first-child {
  padding-top: 0;
  border-top: none;
}

.notification li:last-child {
  padding-bottom: 0;
}

.trending ul {
  padding: 15px;
  display: grid;
  gap: 15px;
  background-color: white;
  border-radius: 5px;
}

.trending li {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.trending li p:first-child {
  font-weight: bold;
}

.trending li p:last-child {
  color: var(--color-grey-text);
}

.trending img {
  grid-row: 1 / -1;
}